{% extends 'base.html.twig' %}

{% block title %}Liste de mes réservations{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Mes réservations</h1>
    <div class="bg-light p-5 my-5">

        <h2 class="h4">Retrouvez ici toutes vos réservations</h2>
    </div>

           {% for booking in app.user.bookings %}
                <div class="row border-bottom border-light mt-5">
            
                    <div class="col-4">
                        <img src="{{ booking.ad.coverImage }}" alt="Photo de l'annonce {{ booking.ad.title}}" class="img-fluid">

                        {% set comment = booking.ad.commentFromAuthor(app.user)  %}
                        {% if comment is not null %}
                            <p class="my-3"><strong>Note : </strong> {% include 'inc/rating.html.twig' with {'rating':comment.rating} %}</p>

                        {% else %}
                            <p class="my-3">Vous n'avez pas encore donné de note pour ce séjour.
                            <a href="{{path('booking_show',{'id':booking.id})}}#comment">Je donne mon avis.</a></p>
                        {% endif %}
                    
                    </div>
                    <div class="col-8 mb-3">
                        <h4 class="h5">{{booking.ad.title}}</h4>
                        <p>Réservation n°<strong>{{booking.id}}</strong></p>
                        <p>Du {{booking.startDate | date('d/m/y')}} au {{booking.endDate | date('d/m/y')}}</p>
                        <p>pour un montant de {{booking.amount}} &euro;</p>
                        <a href="{{path('booking_show',{'id':booking.id})}}" class="btn btn-info btn-sm">Détails</a>
                    </div>
        
                </div>
            {% endfor %}

</div>


{% endblock %}