{% extends 'base.html.twig' %}

{% block title %}Formulaire de réservation{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block body %}

<div class="container">
<h1 class="h2">Réservation pour l'annonce<br>
            <small>{{ad.title}}</small></h1>

    <h6>Vous allez réserver le bien de <strong><em>{{ ad.author.fullName }}</em></strong>.Voir plus de biens de ce 
    <a href="{{path('user_show',{"slug":ad.author.slug})}}">loueur. </a></h6>
            {{ form_start(form) }}

            <div class="row">
                <div class="col">
                    {{form_row(form.startDate)}}
                
                </div>
                <div class="col">
                    {{form_row(form.endDate)}}
                </div>
                <div class="col">
                    <h4>Montant du séjour : <span id="amount">...</span> &euro; </h4>
                    <span id="days">0</span> nuit(s) à {{ad.price}} &euro; /nuit
                </div>
            </div>
            <h3>Vous avez un commentaire ?</h3>
            {{ form_row(form.comment) }}

            <button class="btn btn-primary" type="submit">Réserver !</button>
            <a href="{{path('ads_single',{'slug':ad.slug})}}" class="btn btn-secondary">Retour</a>
            {{ form_end(form)}}

</div>
{% endblock %}

{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function(){

        $('#booking_startDate,#booking_endDate').datepicker(
            {
                format:'dd/mm/yyyy',
                startDate:new Date(),
                datesDisabled:[
                    {% for day in ad.notAvailableDays %}

                        " {{ day.format('d/m/Y') }}",
                    {% endfor %}
                ]
            }
        );

        $('#booking_startDate,#booking_endDate').on('change',calculateAmount);

    });

    function calculateAmount(){
        // calculer l'intervale entre 2 dates


        const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));
        const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));

        // on compare les 2 pour trouver le nombre de jours

    if(startDate && endDate && startDate<endDate){
        const dayTime=24*60*60*1000;
        const interval = endDate.getTime() - startDate.getTime();
        const days = interval / dayTime;

        // on multiplie l'intervale par le prix de la nuitée du bien
        const amount = days * {{ ad.price }};

        // insertion des nombres dans la page
        $('#days').text(days);
        $('#amount').text(amount.toLocaleString('fr-FR'));
        }

    }

</script>

{% endblock %}