{% extends 'base.html.twig' %}

    {% block body %}

    <main class="container">
        <div class="jumbotron mt-3">
            <h1 >Booking</h1>
            <p class="lead">Connectez-vous pour accéder à votre compte</p>
            <hr class="my-4">
            <p>Plus d'informations</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{path('ads_list')}}" role="button">Plus d'infos</a>
            </p>
        </div>
        <h3 class="h1 mt-4 mb-5">Annonces les mieux notées</h3>
        <section class="row">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {'ad':data.annonce} %}
            {% endfor %}
        </section>
        <h3 class="h1 mt-4 mb-5">Nos meilleurs annonceurs</h3>
        <section class="row mb-5">
            {% for data in users %}
             <article class="col">
                  <div class="card mb-3 ">
                        <h3 class="bg-warning text-primary h5 card-header">{{data.user.fullName}}</h3>
                        <div class="card-body">
                            <img src="{{data.user.avatar}}" alt="avatar de {{data.user.fullName}}" class="float-left mr-3">
                            <p>{{data.user.introduction}}</p>
                            <a href="{{path('user_show',{'slug':data.user.slug})}}" class="btn btn-warning text-primary">+ d'infos</a>
                        </div>                      
                     </div>
             </article>
           
            {% endfor %}
            
        </section>

    </main>
    {% endblock %}
