    {% set url=path('ads_single',{'slug':ad.slug}) %}
            <div class="col-md-4 mb-2">
            
                <div class="card">
                
                    <h3 class="h5 card-header bg-primary text-white">{{ad.rooms}} chambres <strong>{{ad.price}} &euro;/ nuit</strong></h3>
                        <div class="card-body">
                            <a href="{{ url }}">
                                <img src="{{ad.coverImage}}" alt="{{ad.title}}" style="height:200px;width:100%;display:block">
                            </a>
                            <h4 class="card-title mt-3">{{ad.title}}</h4>
                            <p class="card-text">{{ad.introduction}}</p>
                            <a href="{{ url }}" class="btn btn-warning">+ d'infos</a>
                            {% if app.user and app.user == ad.author %}
                                <a href="{{ path('ads_edit',{ 'slug':ad.slug }) }}" class="btn btn-info">Modifier</a>
                                <a href="{{ path('ads_delete',{ 'slug':ad.slug }) }}" class="btn btn-danger" onclick="return confirm(`Etes-vous sûr de vouloir cette annonce ?`)">Supprimer l'annonce</a>
                            {% endif %}
                        </div>

                        <div class="card-footer text-muted">
                            {% if ad.comments | length >0 %}
                                <span>{% include 'inc/rating.html.twig' with {'rating':ad.averageRatings } %} sur {{ad.comments|length}} avis.</span>
                            {% else %}
                                <span>Pas encore noté.</span>
                            {% endif %}
                        </div>
                </div>                       
            </div>