{% extends 'base.html.twig' %}

{% block title %}Affichage d'une annonce{% endblock %}

{% block body %}

    <div class="ad-title" style="background-image:url({{ad.coverImage}})">
        <div class="container">
            <h1>{{ad.title}}</h1>
            <p>{{ad.introduction}}</p>
            <p class="h5">{{ad.rooms}} chambres pour <strong>{{ad.price}} &euro;/ nuit</strong></p>
            <a href="#" class="btn btn-warning">Réserver !</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ad.content|raw}}
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in ad.images %}
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" 
                            class="{% if loop.first %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in ad.images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{image.url}}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ad.title}}</h5>
                                    <p>{{image.caption}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="http://placehold.it/64x64" alt="">
                    </div>
                    <div class="col-4">
                        <h3>John Doe</h3>
                        <span class="badge badge-warning">
                            3 annonces
                        </span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus incidunt necessitatibus distinctio soluta nihil, beatae dolorum fugiat omnis aliquid magnam blanditiis eos! Autem eveniet voluptates voluptatibus deleniti sunt aliquid laudantium.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus incidunt necessitatibus distinctio soluta nihil, beatae dolorum fugiat omnis aliquid magnam blanditiis eos! Autem eveniet voluptates voluptatibus deleniti sunt aliquid laudantium.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus incidunt necessitatibus distinctio soluta nihil, beatae dolorum fugiat omnis aliquid magnam blanditiis eos! Autem eveniet voluptates voluptatibus deleniti sunt aliquid laudantium.</p>
             
            </div>
        </div>
    </div>
{% endblock %}